table, th, td{
	border: 1px solid black;
}


td
{
    background-color: #00ccff;
}
th.heading
{
    color: red;
}
th
{
    background-color: #ffffaa;
}
input
{
    background-color: #ccffcc;
}
table
{
    width: 40%;
    font-size: large;
    
}

input[type="submit"]
{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}   
input[type="reset"]
{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}