@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    border-radius: 50%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
}

.container {
    display: flex;
    margin: 50px;
    justify-content: center;
}